.empty{
    font-size: 5vw;
    margin: 10vw auto;
}
.loading{
    
    font-size: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   i{
       color: #0476f9d4 ;
    margin: 10vw;
       height: 20vw;
       width: 20vw;
   }
.motion{
    animation-duration: 4s;
    animation-name: spin;
    animation-iteration-count: infinite;
   transform: rotate(60deg);
   animation-timing-function: linear;
}
}
.cart{
    margin: auto;
    display: grid;
    grid-template-columns: 8fr 2fr;
    .cartItems{
    margin-left: 1vw;
    width:80vw ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 50vw;
    }
    
        .products{
        
            margin: auto;
            width:80vw ;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            
            &__product{
                position: relative;
                margin: 0.25em;
                margin-top: 2.5em;
                width: 18vw;
                height: 25vw;
                box-shadow: 1px 0px 7px rgba(0, 0,0 ,.1),
                            -1px 0px 7px rgba(0, 0,0 ,.1);
        
        
                .img-container{
                    width: 100%;
                    height: 15vw;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
        
                img{
                   max-width: 18vw;
                   height: 15vw;
                }}
        
        
                h2,h4,p{
                    margin: .35em;
                }
                p{
                    padding-top: .2vw;
                    text-align: justify;
                    max-height: 12vw;
                }
        
        
                &-info{
                    height: 10vw;
                    position: relative;
                    font-size: 1vw; // change it when responsive
                    top: -10px;
                    display: flex;
                    flex-direction: column;
                    .name{
                        display: block;
                        font-size: .8em;
                        position: absolute;
                        top: 5px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    i{
                        position: absolute;
                        bottom: 0px;
                        right: 6px;
                        font-size: 1.2vw;
                    }
                    p{
                        display: block;
                        position: absolute;
                        top: 2em;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-height: 13vw;
                    }
                    .price{
                        position: absolute;
                        left: 0;
                        bottom:-5px;
            
                    }
                    .cartProductName{ 
                        margin:3vh 1vw 0 1vw !important;
                    }
                    .cartPrice{
                        position: absolute;
                        bottom: 4vh;
                        right:  2vw;
                    }
                    
                }
               
            }
            
        }
        
}
.cartControl{
    background-color: whitesmoke;
    height: 100vh;
    width:18vw;
    display: flex;
    flex-direction: column;
    font-size:1.5vw;
    justify-items: center;
    width: 100% ;
    p{
        font-weight: 700;
        margin:0 auto 0 auto;
    }
    .one{
        margin-top: 2.5em;
    }
    .empty-btn{
        font-size:1.5vw;
        margin:2.5vw auto 0 auto;
        font-weight: 700;
        color: white;
        padding: 1vw;
        background-color: red;
        border-radius: .5vw;
        border: none;
    }
    .chechout-btn{
        font-size:1.5vw;
        margin:1vw auto 0 auto;
        font-weight: 700;
        color: white;
        padding: 1vw;
        background-color: #4caf50;
        border-radius: .5vw;
        border: none;
    }
}


.R-btn{
    position: absolute;
    left: 1vw;
    bottom: .1vw !important;
    color: white;
    background-color: red;
    padding:.5vw;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1vw;
}

.quantityControl{
font-weight: 700;
bottom: .5vw;
position: absolute;
right: 0vw;


   
.increase{
    position: absolute;
    right: 1vw;
    bottom: 0;
    color: white;
    border-radius: 5px;
    background-color: #4caf50;
    font-size: 1.2vw;
    font-weight: 700;
    border: none;
    padding: 0 .3vw 0 .3vw ;
}
.quantity{
    position: absolute;
    right: 2.5vw;
    width: 2.5vw;
    text-align: center;
}
.decrease{
    position:absolute;
    right: 5vw;
    bottom: 0;
    color: white;
    border-radius: 5px;
    background-color: #ffc300;
    font-size: 1.2vw;
    font-weight: 700;
    border: none;
    padding: 0 .4vw 0 .4vw ;
}
    }
@keyframes spin{
0%{
    
}
100%{
    
        transform: rotate(420deg);
    
}
}