.navbar{
    width: 100%;
    background-color: white ;
    position: relative;
    z-index: 2;
    height: 80px;
    display: flex;
 justify-content: space-between;
    box-shadow: 1px 0px 5px rgba(0 ,0, 0, .5)  ;
    
    .logo{
        margin: auto 0 auto 10px;
        font-size: 24px;
    }
    .navCart{
        font-size: 1.5em;
        align-content:center  ;
        margin: 0;
        margin-right: 10px;
        position: relative;
        top: 25px
    }
    .search{
        justify-self: center;
        align-self: center;
    &-box{
        box-sizing: border-box;
        margin: auto 0 auto 0;
        height: 35px;
        border: 0;
        outline: none;
        padding-left: 5px;
        box-shadow: inset  1px 1px 1px rgba(0, 0,0 ,.1),
                    inset -1px -1px 1px rgba(0, 0,0 ,.1) ;
        
        width: 35vw;
    }
    &-btn{
        border-radius: 0 50% 50% 0 ;
        height: 35px;
        box-shadow: inset  1px 1px 1px rgba(0, 0,0 ,.1),
        inset -1px -1px 1px rgba(0, 0,0 ,.1) ;
        width: 60px;
    }
    .select-catigory{
        box-sizing: border-box;
        height: 35px;
        outline: none;
        border: none;
        box-shadow: inset  1px 1px 1px rgba(0, 0,0 ,.1),
        inset -1px -1px 1px rgba(0, 0,0 ,.1) ;
    }
}

        .cartItemsNumber{
            color: white;
            background-color: red;
            border-radius: 50%;
            padding: .10em .5em .10em .5em;
           z-index: 3;
           text-align: center;
            font-size: .8em; 
            position: absolute;
            top: 20px;
            right: 5px;
            border: 1px white solid;
        }
    
}

.cartItemsNumber-d{
    display: none;
}
.textContainer-d{
    display: none;
}
.cartItemsNumber1{
    color: white;
    background-color: red;
    border-radius: 50%;
    padding: .10em .3em .10em .3em;
   z-index: 3;
   text-align: center;
    font-size: .8em; 
    position: absolute;
    top: 20px;
    right: 5px;
    border: 1px white solid;
}