.productPage{
   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
   .media{
      margin: 5vh 4vw;
      padding: 0 1vw;
       width: 40vw;
       border-right: solid 1px rgba(0, 0, 0, .3);
       img{
           width: 40vw;
       }
      
   }
   .hidden{
    display: none;
}
    ul{
        text-decoration: solid;
        list-style:disc !important;
    }
    li{
        list-style-type: disc !important;
        
        margin-top: 20px;
    }
    .info{
        display: grid;
        grid-template-rows: 1fr 5fr;
    }
    .title{
        border-bottom: solid 1px rgba(0, 0, 0, .3);
    }
    .control{
        margin-top: 5vh;
        padding: 5vh 2vw;
        margin-left: 1vw;
        border-left: solid 1px rgba(0, 0, 0, .3);
    .btn{
        margin-top: 5vh;
        background-color: seagreen;
        font-size: 1em;
    }
    }
}