.home{
height: 100%;
display: grid;
grid-template-columns: 1fr 4fr;
.mainControls{
    background-color: whitesmoke;
    height: 100%;
    width:18vw;
    display: flex;
    flex-direction: column;
    .title{
        margin: 1.5vh 0;
        justify-self: center;
        align-self: center;
        width:fit-content ;
        font-size:1.1em ;
        .arrow{
            display: none;
        }
    }
    h3{
        margin: 2vh 0;
    }
    .categoryes {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        min-height: 150px;
      
        .dropDownList{
            cursor: pointer;
            padding-left: 5px;
            margin-top: 2vh;
            height:26px;
            width: 150px;
            background: white;
            border:1px solid rgba(0, 0, 0, .3);
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            .arrow{
                align-self: center;
                padding-right: 5px;
            } 
        }
        .dropDownList-items{
            position: relative;
            top: -3px;
            overflow: hidden;
            z-index: 2;
            
            background: white;
            width: 155px;
            border:1px solid rgba(0, 0, 0, .3);
            border-top:none;
            border-radius: 5px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            li{
                cursor: pointer;
                padding-left: 5px;
                list-style:none ;
            }
            li:hover{
                background: whitesmoke;
            }
        }
    }
    .btn{
        font-size: 1em;
        width: 165px;
        background: rgb(0, 160, 253);
        color:$primary ;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .sorting{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}
.products{

    margin: 0 auto 0 auto;
    width:80vw ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    &__product{
        position: relative;
        margin: 0.25em;
        margin-top: 2.5em;
        width: 18vw;
        height: 25vw;
        box-shadow: 1px 0px 7px rgba(0, 0,0 ,.1),
                    -1px 0px 7px rgba(0, 0,0 ,.1);


        .img-container{
            width: 100%;
            height: 15vw;
            overflow: hidden;
            display: flex;
            justify-content: center;

        img{
           max-width: 18vw;
           height: 15vw;
        }}


        h2,h4,p{
            margin: .35em;
        }
        p{
            padding-top: .2vw;
            text-align: justify;
            max-height: 12vw;
        }


        &-info{
            height: 10vw;
            position: relative;
            font-size: 1vw; // change it when responsive
            top: -10px;
            display: flex;
            flex-direction: column;
            .name{
                display: block;
                font-size: .8em;
                position: absolute;
                top: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            i{
                position: absolute;
                bottom: 0px;
                right: 6px;
                font-size: 1.2vw;
            }
            p{
                display: block;
                position: absolute;
                top: 2em;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 13vw;
            }
            .price{
                position: absolute;
                left: 0;
                bottom:-5px;
    
            }
            .cartProductName{ 
                margin:3vh 1vw 0 1vw !important;
            }
            .cartPrice{
                position: absolute;
                bottom: 4vh;
                right:  2vw;
            }
            
        }
       
    }
    
}
}